# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
.db/
.backtestresult/

# Executables
*.swf
*.air
*.ipa
*.apk
*.log
*.pyc

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
stock-analysis-system.code-workspace
conf/config.cfg
trades_report.xlsx
backtestresult/*
logs/*
